@model TicketLand_project.Models.booking_detail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>booking_detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.booking.total_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking.total_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seat.seat_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seat.seat_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bkdetail_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
