@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="~/Areas/Assets/css/Admin.css" rel="stylesheet" />
    <!-- Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            background-color: #ecf0f1;
        }

        .container {
            margin-top: 50px;
        }

        .dashboard-card {
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow: hidden;
        }

        .info-card {
            text-align: center;
            padding: 20px 20px;
            transition: transform 0.3s;
        }

            .info-card:hover {
                transform: scale(1.05);
            }

            .info-card i {
                font-size: 36px;
                margin-bottom: 10px;
            }

        .info-card-blue {
            color: #3498db;
        }

        .info-card-green {
            color: #2ecc71;
        }

        .info-card-orange {
            color: #e67e22;
        }
    </style>
</head>
<body>

    <div class="container">
        <h2 class="text-center mb-4"><b>Thống kê hệ thống</b></h2>
        <div class="row">


            <div class="col-md-3">
                <div class="card info-card info-card-green">
                    <div class="card-body">
                        <i class="fas fa-user"></i>
                        <h6 class="card-title">Số lượng User</h6>
                        <p class="card-text" id="regularUsers">@ViewBag.UserCount</p>
                    </div>
                </div>
                <br />
                <div class="card info-card info-card-orange">
                    <div class="card-body">
                        <i class="fas fa-user-shield"></i>
                        <h6 class="card-title">Số lượng Admin</h6>
                        <p class="card-text" id="adminUsers">@ViewBag.AdminCount</p>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="card info-card info-card-green">
                    <div class="card-body">
                        <i class="fas fa-film text-primary"></i>
                        <h6 class="card-title text-primary">Phim đang chiếu</h6>
                        <p class="card-text text-primary" id="adminNowShowingCount">@ViewBag.NowShowingCount</p>
                    </div>
                </div>
                <br />
                <div class="card info-card info-card-orange">
                    <div class="card-body">
                        <i class="fas fa-video text-success"></i>
                        <h6 class="card-title text-success">Phim sắp chiếu</h6>
                        <p class="card-text text-success" id="adminUpcomingCount">@ViewBag.UpcomingCount</p>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="card info-card info-card-orange">
                    <div class="card-body">
                        <i class="fas fa-building"></i>
                        <h6 class="card-title">Số lượng phòng</h6>
                        <p class="card-text" id="adminRoom">@ViewBag.RoomCount</p>
                    </div>
                </div>
            </div>



            <div class="col-md-3">
                <div class="card info-card info-card-orange">
                    <div class="card-body">
                        <i class="fas fa-building"></i>
                        <h6 class="card-title">Số lượng vé đã đặt</h6>
                        <p class="card-text" id="adminTicket"></p>
                    </div>
                </div>
            </div>
        </div>

        <br />

    </div>

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Font Awesome JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

</body>
</html>


