@model PagedList.IPagedList<TicketLand_project.Models.schedule>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}

<h2>Index</h2>


<div class="container_custom">

    <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#addRoomModal">
        <i class="fa fa-plus custom_i"></i> Tạo suất chiếu
    </button>

    <!-- Add Modal -->
    <div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center bg-primary text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm Suất Chiếu</h5>
                    <button type="button" class="close bg-success" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="addRoomForm" class="text-center">

                        <div class="form-group">
                            <label for="movie_id" class="text-center">Tên phim:</label>
                            <select class="form-control" id="movie_id" name="movie_id">
                                <option value="" class="text-center">-- Chọn phim --</option>
                                @foreach (var _movie in ViewBag.movie_id)
                                {
                                    <option value="@_movie.Value" class="text-center">@_movie.Text</option>
                                }
                            </select>
                        </div>
                        <br />

                        <div class="form-group">
                            <label for="time_start" class="text-center">Suất chiếu lúc:</label>
                            <input type="time" class="form-control text-center" id="time_start" name="time_start" />
                        </div>
                        <br />

                        <div class="form-group">
                            <label for="room_id" class="text-center">Phòng:</label>
                            <select class="form-control" id="room_id" name="room_id">
                                <option value="" class="text-center">-- Chọn phòng --</option>
                                @foreach (var room in ViewBag.room_id)
                                {
                                    <option value="@room.Value" class="text-center">@room.Text</option>
                                }
                            </select>
                        </div>
                        <br />

                        <div class="form-group text-center">
                            <label for="show_date">Ngày suất chiếu:</label>
                            <input type="date" class="form-control text-center" id="show_date" name="show_date" />
                        </div>

                        <br />
                        <button type="submit" class="btn btn-primary" id="submitSave">Lưu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="box_shadow">
        <table class="tableStyle">
            <tr>
                <th>STT</th>
                <th>
                    Tên phim
                </th>
                <th>Action</th>
            </tr>

            @{
                var count = 1;
            }

            @{
                var movies = Model.Select(item => item.movy).Distinct();
            }

            @foreach (var movie in movies)
            {
                <tr>
                    <td>
                        @count
                        @{
                            count++;
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => movie.movie_name)
                    </td>
                    <td colspan="6">
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Detail","schedules",new { id = movie.movie_id })'">
                            <i class="fa fa-info custom_i"></i> Xem suất chiếu
                        </button>

                    </td>
                </tr>


            }



        </table>
    </div>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    <div class="d-flex justify-content-between align-items-center">

        <div>
            <div class="pagination custom-pagination" style="margin-right: 150px">
                @if (Model.HasPreviousPage)
                {
                    <a href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" class="page-link prev @(Model.PageNumber == 1 ? "current-page" : "")">&laquo; </a>
                }
                else
                {
                    <span class="page-link disabled">&laquo;</span>
                }

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <a href="@Url.Action("Index", new { page = i })" class="page-link number @(i == Model.PageNumber ? "current-page" : "")">@i</a>
                }

                @if (Model.HasNextPage)
                {
                    <a href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" class="page-link next">&raquo;</a>
                }
                else
                {
                    <span class="page-link disabled">&raquo;</span>
                }
            </div>
        </div>

        <!-- Kết thúc -->
    </div>
</div>





<!-- Thêm jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Thêm Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#addRoomForm').submit(function (e) {
            e.preventDefault(); // Ngăn chặn hành vi submit mặc định của form

            var form = $(this);
            var formData = form.serialize();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "schedules")',
                data: formData,
                success: function (response) {
                    $('#addRoomModal').modal('hide');
                    alert("Thêm thành công")
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });

</script>


