@model IEnumerable<TicketLand_project.Models.movy>
@{
    ViewBag.Title = "Home Page";

}
<!-- Banner Area -->
<div class="banner-area">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://youthvietnam.vn/wp-content/uploads/2021/06/mau-poster-phim-viet-nam.jpg" />
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://photo-cms-baophapluat.epicdn.me/w840/Uploaded/2023/hfobhvwbucqaow/2022_06_15/nha-thiet-ke-poster-phim-le-791655133447-5792.jpg" />
            </div>
        </div>
        <a class=" carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- Banner Area End -->
<!-- Banner Form Area -->
<div class="banner-form-area">
    <div class="container">
        <div class="banner-form border border-1">
            <form>
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-3 col-md-3 form-group">
                        <div class="input-group">

                            <span class="input-group-text border border-secondary rounded-start"> <span class=" fa-solid fa-magnifying-glass" style="margin-top:2px;"></span></span>
                            <input type="text" class="form-control border border-secondary rounded-end" placeholder="Tìm phim...">
                        </div>
                    </div>

                    <div class="col-lg-1 col-md-3 form-group">
                        <span class="border border-1 border-start"></span>
                    </div>

                    <div class="col-lg-3 col-md-2 form-group">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="col-7">
                                <label style="margin-bottom: 0; white-space: nowrap;">Ngày chiếu</label>
                            </div>
                            <div class="col-5 input-group_1">
                                <input id="datetimepicker-check" type="text" class="form-control" placeholder="11/02/2020">
                                <span class="input-group-addon"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-1 col-md-3 form-group">
                        <span class="border border-1 border-start"></span>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary border-0 dropdown-toggle" style="font-weight:bold;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Xuất chiếu
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">9:00</a></li>
                                <li><a class="dropdown-item" href="#">10:00</a></li>
                                <li><a class="dropdown-item" href="#">11:00</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-3 form-group">
                        <span class="border border-1 border-start"></span>
                    </div>
                    <div class="col-lg-1 col-md-1 form-group">
                        <button type="button" class="banner-button btn btn-danger">GO</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Banner Form Area End -->
<!-- Film Area -->
<div id="schedule-page" class="room-area pt-70 pb-20 section-bg">
    <div class="container mt-5">
        <div class="justify-content-between">
            <div class="row justify-content-center">
                @*Two tab Đang chiếu/ Sắp chiếu*@
                <div class="col-4">
                    <nav>
                        <div class="text-header nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Đang chiếu</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Sắp chiếu</a>
                        </div>
                    </nav>
                </div>
            </div>


            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="room-area pt-20 pb-20 section-bg">
                        <div class="container">
                            <div class="row pt-10">
                                <div id="carouselExample" class="carousel slide">
                                    <div class="carousel-inner">
                                        @{
                                            List<int> movie_current = new List<int>();
                                            List<int> movie_coming = new List<int>();

                                            int postersPerRow = 4; // Số lượng poster trên mỗi dòng
                                            int postersPerItem = 8; // Số lượng poster trên mỗi carousel-item
                                            int itemIndex1 = 0; // Chỉ số của carousel-item
                                        }
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                            if (Model.ElementAt(i).movie_status == 1)
                                            {
                                                movie_current.Add(i);
                                            }
                                            if (Model.ElementAt(i).movie_status == 2)
                                            {
                                                movie_coming.Add(i);
                                            }
                                        }

                                        @for (int i = 0; i < movie_current.Count(); i++)
                                        {
                                            if (i % postersPerItem == 0)
                                            {
                                                <text>
                                                    <div class="carousel-item @(itemIndex1 == 0 ? "active" : "")">
                                                        @{
                                                            itemIndex1++;
                                                        }
                                                </text>
                                            }
                                            // Nếu là đầu dòng, tạo một row mới
                                            if (i % postersPerRow == 0)
                                            {
                                                <text>
                                                    <div class="row">
                                                </text>
                                            }
                                            <text>
                                                <div class="col-lg-3 col-md-4 col-sm-6">
                                                    <div class="room-card">
                                                        <div>
                                                            <a href="room-details.html">
                                                                <img class="poster_film responsive-image" src="@Model.ElementAt(movie_current[i]).movie_poster" alt="Images" />
                                                            </a>
                                                        </div>
                                                        <div class="content" style="width: 100%; height: 100px;">
                                                            <div class="text-age-name">
                                                                @if (Model.ElementAt(movie_current[i]).movie_cens == "P")
                                                                {
                                                                    <div><button class="btn-age btn btn-success">P</button></div>
                                                                }
                                                                else
                                                                {
                                                                    <div><button class="btn-age btn btn-danger">@Model.ElementAt(movie_current[i]).movie_cens</button></div>
                                                                }

                                                                <span><a class="text-name-film" href="room-details.html">@Model.ElementAt(movie_current[i]).movie_name</a></span>
                                                            </div>
                                                            <div class="text-time-rating">
                                                                <div class="col-lg-6 text-poster">@Model.ElementAt(movie_current[i]).DurationInMinutes phút</div>
                                                                <span class="col-lg-6 star-rating">
                                                                    @{
                                                                        double? temp = Model.ElementAt(movie_current[i]).rate;
                                                                        int rate_overal = temp.HasValue ? (int)temp.Value : 0;
                                                                    }
                                                                    @for (int n = 0; n < rate_overal; n++)
                                                                    {
                                                                        <i class='bx bxs-star' style="color:orange;"></i>
                                                                    }
                                                                    @if (temp - rate_overal >= 0.5)
                                                                    {
                                                                        <i class='bx bxs-star-half' style="color:orange;"></i>
                                                                    }


                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </text>
                                            // Nếu là cuối dòng hoặc cuối carousel-item, đóng row hoặc carousel-item
                                            if (i % postersPerRow == postersPerRow - 1 || i == movie_current.Count() - 1)
                                            {
                                                @Html.Raw("</div>")
                                            }
                                            // Nếu là cuối carousel-item, đóng carousel-item
                                            if (i % postersPerItem == postersPerItem - 1 || i == movie_current.Count() - 1)
                                            {
                                                @Html.Raw("</div>")
                                            }
                                        }
                                        }


                                    </div>

                                    <button class="carousel-control-prev" style="left: -10%; color: brown; font-size:2rem;" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                        <span class="fa-solid fa-circle-chevron-left" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" style="right: -10%; color: brown; font-size: 2rem;" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                        <span class="fa-solid fa-circle-chevron-right" aria-hidden="true"></span>
                                        <span class="visually-hidden" style="color:brown;">Next</span>
                                    </button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="room-area pt-20 pb-20 section-bg">
                        <div class="container">
                            <div class="row pt-45">
                                <div id="carouselExample2" class="carousel slide">
                                    <div class="carousel-inner">
                                        @{

                                            int itemIndex2 = 0; // Chỉ số của carousel-item
                                        }
                                        @for (int i = 0; i < movie_coming.Count(); i++)
                                        {

                                            // Nếu là đầu carousel-item, đầu hàng hoặc đã đủ số lượng poster trên một item, tạo một carousel-item mới
                                            if (i % postersPerItem == 0)
                                            {
                                                <text>
                                                    <div class="carousel-item @(itemIndex2 == 0 ? "active" : "")">
                                                        @{
                                                            itemIndex2++;
                                                        }
                                                </text>
                                            }
                                            // Nếu là đầu dòng, tạo một row mới
                                            if (i % postersPerRow == 0)
                                            {
                                                <text>
                                                    <div class="row">
                                                </text>
                                            }
                                            <text>
                                                <div class="col-lg-3 col-md-4 col-sm-6">
                                                    <div class="room-card">
                                                        <div>
                                                            <a href="room-details.html">
                                                                <img class="poster_film responsive-image" src="@Model.ElementAt(movie_coming[i]).movie_poster" alt="Images" />
                                                            </a>
                                                        </div>
                                                        <div class="content" style="width: 100%; height: 100px;">
                                                            <div class="text-age-name">
                                                                @if (Model.ElementAt(movie_current[i]).movie_cens == "P")
                                                                {
                                                                    <div><button class="btn-age btn btn-success">P</button></div>
                                                                }
                                                                else
                                                                {
                                                                    <div><button class="btn-age btn btn-danger">@Model.ElementAt(movie_current[i]).movie_cens</button></div>
                                                                }
                                                                <span><a class="text-name-film" href="room-details.html">@Model.ElementAt(movie_coming[i]).movie_name</a></span>
                                                            </div>
                                                            <div class="text-time-rating">
                                                                <div class="col-lg-4 text-poster">@Model.ElementAt(movie_coming[i]).DurationInMinutes phút</div>
                                                                <span class="col-lg-8 text-poster" style="font-weight:bold;">
                                                                    Khởi chiếu  @DateTime.Parse((Model.ElementAt(movie_coming[i]).movie_release).ToString()).ToString("dd/MM/yyyy")
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </text>
                                            // Nếu là cuối dòng hoặc cuối carousel-item, đóng row hoặc carousel-item
                                            if (i % postersPerRow == postersPerRow - 1 || i == movie_coming.Count() - 1)
                                            {
                                                @Html.Raw("</div>")
                                            }
                                            // Nếu là cuối carousel-item, đóng carousel-item
                                            if (i % postersPerItem == postersPerItem - 1 || i == movie_coming.Count() - 1)
                                            {
                                                @Html.Raw("</div>")
                                            }
                                        }
                                    </div>

                                    <button class="carousel-control-prev" style="left: -10%; color: brown; font-size:2rem;" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                        <span class="fa-solid fa-circle-chevron-left" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" style="right: -10%; color: brown; font-size: 2rem;" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                        <span class="fa-solid fa-circle-chevron-right" aria-hidden="true"></span>
                                        <span class="visually-hidden" style="color:brown;">Next</span>
                                    </button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
                <!--Film End Area-->
                <!--News Start Area-->
                <div class="container" id="news-page">
                    @*Header of News*@
                    <div class="text-header">
                        Tin tức - Ưu đãi
                    </div>
                    @*Body News*@
                    <div class="row mt-4">
                        <div class="col-lg-4 col-md-4 col-sm-4  news">
                            <img class="responsive-image  news" src="~/Assets/img/home/poster_film/toi-thay-hoa-vang.jpg" alt="Images News">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4  news">
                            <img class="responsive-image" src="~/Assets/img/home/poster_film/toi-thay-hoa-vang.jpg" alt="Images News">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4  news">
                            <img class="responsive-image" src="~/Assets/img/home/poster_film/toi-thay-hoa-vang.jpg" alt="Images News">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-3 col-md-3 col-sm-3  news">
                            <img class="responsive-image  news" src="~/Assets/img/home/poster_film/toi-thay-hoa-vang.jpg" alt="Images News">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3  news">
                            <img class="responsive-image" src="~/Assets/img/home/poster_film/toi-thay-hoa-vang.jpg" alt="Images News">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3  news">
                            <img class="responsive-image" src="~/Assets/img/home/poster_film/toi-thay-hoa-vang.jpg" alt="Images News">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3  news">
                            <img class="responsive-image" src="~/Assets/img/home/poster_film/toi-thay-hoa-vang.jpg" alt="Images News">
                        </div>
                    </div>

                    <div class="row mt-4 mb-5">
                        <div class="col-lg-6 col-md-6 col-sm-6  news">
                            <img class="responsive-image  news" src="~/Assets/img/home/poster_film/toi-thay-hoa-vang.jpg" alt="Images News">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6  news">
                            <img class="responsive-image" src="~/Assets/img/home/poster_film/toi-thay-hoa-vang.jpg" alt="Images News">
                        </div>
                    </div>

                </div>
                <!--News End Area-->
                <!--Java Script-->
           
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  // Kiểm tra xem key "Username" đã tồn tại trong sessionStorage hay chưa
    if (!sessionStorage.getItem("Username")) {
        // Nếu không tồn tại, thực hiện AJAX để lấy thông tin đăng nhập từ máy chủ
        $.ajax({
            url: '@Url.Action("GetUserInfo", "Home")',
            type: 'GET',
            success: function (data) {
                // Cập nhật sessionStorage với thông tin đăng nhập
                sessionStorage.setItem("Username", data.Username);
                sessionStorage.setItem("idMember", data.IdMember);
                sessionStorage.setItem("isLogin", data.IsLogin);
            },
            error: function () {
                console.log('Đây vẫn là Guest user');
            }
        });
    } else if (sessionStorage.getItem("Username") != null) {
        // Nếu tồn tại, thực hiện AJAX để lấy cập nhật đăng nhập từ máy chủ
        $.ajax({
            url: '@Url.Action("GetUserInfo", "Home")',
            type: 'GET',
            success: function (data) {
                // Cập nhật sessionStorage với thông tin đăng nhập
                sessionStorage.setItem("Username", data.Username);
                sessionStorage.setItem("idMember", data.IdMember);
                sessionStorage.setItem("isLogin", data.IsLogin);
            },
            error: function () {
                console.log('Đây vẫn là Guest user');
            }
        });
    }

    function convertTimeToMinutes(timeString) {
        var timeParts = timeString.split(':');
        var hours = parseInt(timeParts[0], 10);
        var minutes = parseInt(timeParts[1], 10);
        var seconds = parseInt(timeParts[2], 10);

        var totalMinutes = (hours * 60) + minutes + Math.round(seconds / 60);

        return totalMinutes;
    }
</script>
