@model TicketLand_project.Models.member


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Smooch Sans:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" />
    <link href="~/Assets/Register_css/Register.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <!-- Tabs Titles -->
            <ul>
                <li style="display: inline;"><a href="~/Home/Login"><h2 class="inactive underlineHover">SIGN IN</h2></a></li>
                <li style="display: inline;"><a href="~/Home/Register"><h2 class="active">SIGN UP</h2></a></li>
            </ul>

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://thumbs.dreamstime.com/b/water-park-ticket-hand-line-icon-waterpark-concept-to-attraction-sign-white-background-pass-outline-style-mobile-web-204250748.jpg" id="icon" alt="User Icon" />
            </div>

            @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <br />
            <!-- Họ và tên -->
                    <div class="fadeIn second">
                        <div class="col-md-10">
                            <input type="text" name="member_name" placeholder="Họ và tên" />
                            <br />
                            @Html.ValidationMessageFor(model => model.member_name, "", new { @class = "custom-validation-message" })
                        </div>
                    </div>
                    <br />

            <!-- Username -->
                    <div class="fadeIn second">
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="username" placeholder="Tên tài khoản" />
                            <br />
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "custom-validation-message" })
                        </div>
                    </div>
                    <br />

            <!-- Password -->
                    <div class="fadeIn second">
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="password" placeholder="Mật khẩu" />
                            <br />
                            <div>
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "custom-validation-message" })
                            </div>

                        </div>
                    </div>
                    <br />

            <!-- Giới tính -->
                    <div class="fadeIn second">
                        <div class="row">
                            <div class="form-check form-check-inline">
                                <label>Giới Tính</label>
                                <label class="form-check-label">
                                    @Html.RadioButtonFor(model => model.gender, true, new { @class = "form-check-input" })
                                    Nam
                                </label>

                                <label class="form-check-label">
                                    @Html.RadioButtonFor(model => model.gender, false, new { @class = "form-check-input" })
                                    Nữ
                                </label>

                                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "custom-validation-message" })
                            </div>
                        </div>
                    </div>

                    <br />

            <!-- Ngày sinh -->
                    <div class="fadeIn second">
                        <div class="col-md-10">
                            Ngày sinh <input type="date" name="date_of_birth" placeholder="Ngày sinh" />
                            <br />
                            @Html.ValidationMessageFor(model => model.date_of_birth, "", new { @class = "custom-validation-message" })
                        </div>
                    </div>
                    <br />

            <!-- Email -->
                    <div class="fadeIn second">
                        <div class="col-md-10">
                            <input type="email" name="email" placeholder="Email" />
                            <br />
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "custom-validation-message" })
                        </div>
                    </div>
                    <br />

            <!-- City -->
                    <div class="fadeIn second">
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="city" placeholder="Thành phố" />
                            <br />
                            @Html.ValidationMessageFor(model => model.city, "", new { @class = "custom-validation-message" })
                        </div>
                    </div>
                    <br />

            <!-- Phone-->
                    <div class="fadeIn second">
                        <div class="col-md-10">
                            <input type="tel" class="form-control" name="phone" placeholder="Số điện thoại" />
                            <br />
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "custom-validation-message" })
                        </div>
                    </div>

                    <br />

            <!-- Hình ảnh Avatar-->
                    <div class="form-group fadeIn second">
                        <div class="col-md-10">
                            <input type="file"
                                   class="custom-file-input"
                                   name="imageFile"
                                   placeholder="Hình ảnh"
                                   accept=".png, .jpg, .jpeg" />
                        </div>
                    </div>


                    <br />

            <!-- Hoàn tất Btn-->
                    <div class="form-group fadeIn second">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Hoàn tất" class="fadeIn third" />
                        </div>
                    </div>

                </div>
            }


        </div>
    </div>

    <script>
    // Kiểm tra xem ViewBag.error có giá trị hay không
    var error = @Html.Raw(Json.Encode(ViewBag.Message));

    // Kiểm tra nếu error không phải là null hoặc undefined hoặc chuỗi rỗng
    if (error) {
        alert(error);
    }
    </script>

</body>
</html>
