@model TicketLand_project.ViewModels.SeatViewModel
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (ViewBag.ShowSuccessModal != null && (bool)ViewBag.ShowSuccessModal)
    {
        <script>
            $(document).ready(function () {
                showSuccessModal();
            });
        </script>
    }
}


<link href="~/Areas/Assets/css/Seat.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<style>
    .seat {
        display: inline-block;
        margin: 5px;
    }

    .selected {
        background-color: #28a745;
        color: #ffffff;
        background-image: none;
    }

    #infoScreen {
        background-color: #f0f0f0;
        padding: 10px;
        margin-top: 20px;
    }

    .reserved {
        background-color: red;
        color: white; /* Adjust text color for better visibility */
        background-image: none;
    }
</style>

<div class="center">
    <div id="infoScreen">
        <!-- Màn hình ở đầu trang -->
        <h4>Thông tin suất chiếu</h4>
        <p>Ngày chiếu: @Model.Schedule.show_date.ToShortDateString()</p>
        <p>Giờ chiếu: @Model.Schedule.time_start.ToString("hh\\:mm")</p>
        <p id="selectedSeatsInfo">Ghế đã chọn: </p>
    </div>
    <div class="tickets">

        <div class="ticket-selector">
            <div class="head">
                <div class="title">SƠ ĐỒ CHỖ NGỒI</div>
            </div>


            <br />

            <!--Màn hình-->
            <div class="screen"></div>

            <form id="seatForm" method="post" action="@Url.Action("ConfirmBooking", "Home")">
                <input type="hidden" name="selectedSeats" id="selectedSeatsInput">
                <input id="scheduleId" type="hidden" name="scheduleId" value="@Model.Schedule.schedule_id" />
                <!-- Tạo 50 ghế bằng check box -->
                <div id="seat_area">
                    @for (var row = 1; row <= 5; row++)
                    {
                        for (var col = 1; col <= 10; col++)
                        {
                            var seatId = String.Format("{0}{1}", (char)(row + 64), col);

                            var seat = Model.Seats.FirstOrDefault(s => s.row == Convert.ToString((char)(row + 64)) && s.number == col);
                            //var isSelected = Model.SelectedSeats != null && Model.SelectedSeats.Contains(seatId);
                            if (seat != null)
                            {
                                //var disabled = (bool)seat.seats_status || isSelected;
                                <span id="show_seats-@row-@col">
                                    <label class="seat @(Model.ReservedSeats != null && Model.ReservedSeats.Contains(seatId) ? "reserved" : "")">
                                        <input type="checkbox" name="selectedSeats" value="@seatId" onclick="updateSeatStatus(this)" @(Model.ReservedSeats != null && Model.ReservedSeats.Contains(seatId) ? "disabled" : "") />
                                        <span class="seat-label">@seatId</span>
                                    </label>
                                </span>


                            }
                            else
                            {
                                <span id="hide_seat-@row-@col">
                                    <span class="hidden-seat" style="visibility: hidden">
                                        <!-- Đối với các ghế không có trong bảng -->
                                        <label class="seat">
                                            <input type="checkbox" name="selectedSeats" value="@seatId" onclick="updateSeatStatus(this)" disabled />
                                            <span class="seat-label">@seatId</span>
                                        </label>
                                    </span>
                                </span>

                            }
                        }

                        <br />
                        @*<p>Reserved Seats:</p>
                            <ul>
                                @foreach (var seat in Model.ReservedSeats)
                                {
                                    <li>@seat</li>
                                }
                            </ul>*@
                    }
                </div>
                <!-- Nút để xác nhận việc chọn ghế -->
                <button type="button" class="btn" onclick="showConfirmationModal()">Submit</button>
                <!-- Modal for confirmation -->
                <div class="modal" id="confirmationModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirm Booking</h5>

                            </div>
                            <div class="modal-body">

                                <p>Are you sure you want to confirm the booking?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" onclick="submitForm()">Confirm</button>
                                <button class="btn" onclick="hideConfirmationModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <!-- Modal -->
            <!-- Modal thông báo -->
            <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="successModalLabel">Booking Successful</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Your booking has been successfully placed.
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    // Sự kiện change để theo dõi sự thay đổi trạng thái của checkbox
                    $('input[name="selectedSeats"]').change(function () {
                        // Thêm hoặc xóa lớp 'selected' tùy thuộc vào trạng thái của checkbox
                        $(this).parent().toggleClass('selected', this.checked);
                    });
                });

                var selectedSeats = new Set();


                function updateSeatStatus(checkbox) {
                    var selectedSeat = Array.from(document.querySelectorAll('input[name="selectedSeats"]:checked')).map(function (checkbox) {
                        return checkbox.value;
                    });
                    document.getElementById('selectedSeatsInfo').textContent = 'Ghế đã chọn: ' + selectedSeat.join(', ');


                    var seatId = checkbox.value;

                    if (!checkbox.disabled) {

                        // Kiểm tra xem ghế đã được chọn hay chưa
                        var isSelected = selectedSeats.has(seatId);

                        if (checkbox.checked && !isSelected) {
                            // Nếu ghế chưa được chọn và đang được check, thêm vào danh sách
                            selectedSeats.add(seatId);
                            console.log(seatId);
                        } else if (!checkbox.checked && isSelected) {
                            // Nếu ghế đã được chọn và đang được uncheck, loại bỏ khỏi danh sách
                            selectedSeats.delete(seatId);
                            console.log(seatId);
                        }


                        selectedSeats = Array.from(selectedSeats);
                        console.log(selectedSeats);

                        // Update the hidden input value with the selectedSeats array
                        document.getElementById('selectedSeatsInput').value = selectedSeats.join(', ');
                    }
                }

                /*  function updateSelectedSeatsInfo() {
                      var selectedSeatss = Array.from(document.querySelectorAll('input[name="selectedSeats"]:checked')).map(function (checkbox) {
                          return checkbox.value;
                      });

                      // Hiển thị thông tin ghế đã chọn
                      document.getElementById('selectedSeatsInfo').textContent = 'Ghế đã chọn: ' + selectedSeats.join(', ');
                  }
                  function submitForm() {
                      // Hiển thị modal khi bấm nút "Submit"

                      $('#confirmModal').modal('show');
                  }
                  function confirmBooking() {
                      // Gọi hàm xác nhận khi người dùng bấm nút "Confirm"
                      // Thực hiện các logic cần thiết, ví dụ: gọi đến action ConfirmBooking
                      $('#submitBk').submit();
                  }*/

                function showConfirmationModal() {
                    // Show the confirmation modal
                    document.getElementById('confirmationModal').style.display = 'block';
                }

                function hideConfirmationModal() {
                    // Hide the confirmation modal
                    document.getElementById('confirmationModal').style.display = 'none';
                }

                function submitForm() {
                    // Submit the form
                    document.getElementById('seatForm').submit();
                }


            </script>
        </div>
    </div>


</div>
<script>
    $(document).ready(function () {
        var scheduleId = $('#scheduleId').val();
        console.log(scheduleId);
        $.ajax({

            url: '/Home/GetAvailableSeats',
            type: 'GET',
            data: { scheduleId: scheduleId },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log(3);
                console.log(data);
                $.each(data, function (index, item) {
                    var row = item.row.charCodeAt(0) - 64;
                    var col = item.number;
                    console.log("row" + row);
                    console.log(col);
                    var seatElement = $('#show_seats-' + row + '-' + col);
                    seatElement.css('visibility', 'hidden');
                });
            }
        });
    });
    function showSuccessModal() {
        // Hiển thị modal
        $('#successModal').modal('show');

        // Đếm ngược 3 giây
        var countDown = 3;
        var countDownInterval = setInterval(function () {
            countDown--;

            // Hiển thị thời gian đếm ngược
            $('#countdown').text(countDown);

            // Kiểm tra nếu đã hết thời gian đếm ngược
            if (countDown <= 0) {
                // Đóng modal và dừng đếm ngược
                $('#successModal').modal('hide');
                clearInterval(countDownInterval);
            }
        }, 1000);
    }




</script>