@model TicketLand_project.Models.news

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}

<h1 class="custom_h1"><b>SỬA TIN TỨC</b></h1>
<div class="container mt-5">
    <div class="row justify-content-center text-center">
        <div class="col-md-6">
            @Html.AntiForgeryToken()
            <form>
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.news_id)

                    <div class="form-group">
                        <b  style="font-weight:bold">Tên Phim</b>
                        <div class="col-md-12">
                            @Html.DropDownList("movie_id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.movie_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <b  />
                    <div class="form-group">
                        <b  style="font-weight: bold">Tiêu đề tin tức</b>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.news_title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.news_title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <b  />
                    <div class="form-group">
                        <b  style="font-weight: bold">Nội dung tin tức</b>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.news_content, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.news_content, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <b  />
                    <div class="form-group">
                        <b  style="font-weight: bold">Link hình ảnh</b>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.news_img, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.news_img, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <b  />
                    <div class="form-group">
                        <b  style="font-weight: bold">Ngày công bố</b>
                        <div class="col-md-12">

                            @Html.EditorFor(model => model.news_release, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.news_release, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <b  />

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Save" id="editButton" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="~/Areas/Assets/js/news.js"></script>

<script>
    /*Ajax edit*/
    $(document).ready(function () {

        function reloadPage() {
            window.location.reload();
        }


    // Intercept the form submission event
    $("form").submit(function (event) {
        // Prevent the default form submission
        event.preventDefault();

        // Serialize the form data
        var formData = $(this).serialize();

        // Perform an Ajax post
        $.ajax({
            url: '@Url.Action("Edit", "news")', // Thay đổi đường dẫn và tên action phù hợp
            type: 'POST',
            data: formData,
            success: function (result) {
                // Xử lý kết quả sau khi post thành công
                alert("Thành công")
                console.log(result);
                window.history.back();
                
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
        
    });
       
});

    reloadPage();

</script>
